/* check.css */


/* 기본 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    width: 100%;
    min-height: 100%;
}


body {
    position: fixed;

    width: 100%;
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #F0FAF9;

    font-family: Arial, sans-serif;
    color: #333333;

    overflow: hidden;
}


/* 자동 로그인 */
#checkMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;

    color: #0CA19B;

    font-size: 29px;
    font-weight: 600;

    letter-spacing: 1px;
}
.checkText {
    display: inline-block;
    white-space: nowrap;
}
#checkDots {
    display: inline-flex;
    align-items: flex-end;

    width: 80px;
    height: 20px;

    transform: translateY(2.8px);
}
.dot {
    display: none;

    width: 6px;
    height: 6px;
    border-radius: 1.5px;
}
.dot.show {
    display: block;
}
.dot1 {
    background: #E67E22;
    margin-left: 6px;
}
.dot2 {
    background: #E6B800;
    margin-left: 6px;
}
.dot3 {
    background: #0CA19B;
    margin-left: 6px;
}